<app-navbar-admin></app-navbar-admin>

<div class="container">

<div class="row mt-5">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Slider</h5>
          <p class="card-text">This view content of sliders in the home</p>
          <a routerLink="admin-slider" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Us</h5>
          <p class="card-text">This edit the Us section</p>
          <a routerLink="us-form/1" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Why us</h5>
          <p class="card-text">This view content of why us</p>
          <a routerLink="admin-why" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Food</h5>
          <p class="card-text">This view content of foods</p>
          <a routerLink="admin-plate" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
  </div>
</div>
