<!-- ======= About Section ======= -->
<section id='about'  class="about">
    <div class="container-fluid">

      <div class="row">

        <div class="col-lg-5 align-items-stretch video-box" style='background-image: url({{landingUs.us_img}});'>
          <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

          <div class="content">
            <h3>{{landingUs.us_title}}</h3>
         
            <p class="font-italic">
              {{landingUs.us_text_uno}}
            </p>
            
            <p>
              {{landingUs.us_text_dos}}
            </p>
          </div>

        </div>

      </div>

    </div>
  </section><!-- End About Section -->

