<app-navbar-admin></app-navbar-admin>
<div class="container mt-5">
    <div class="card card-body">
        <form (submit)="edit ? updateMenu() : submitMenu()">
            <div class="form-group">
              <label for="menu_plato">Plate</label>
              <input type="text" class="form-control" id="menu_plato" name="menu_plato" [(ngModel)]="menu.menu_plato">              
            </div>
            <div class="form-group">         
              <textarea name="menu_contenido" [(ngModel)]="menu.menu_contenido" id="menu_contenido" rows="4" placeholder="Content" style="width: 100%;"></textarea>
            </div>
            <div class="form-group">
                <label for="menu_precio">Price</label>
                <input type="number" class="form-control" id="menu_precio" name="menu_precio" [(ngModel)]="menu.menu_precio">              
              </div>

              <div class="form-group col-md-4">
                <label for="menu_category">State</label>
                <select id="menu_category" class="form-control" name="menu_category" [(ngModel)]="menu.menu_category">
                  <option value="starters">starters</option>
                  <option value="salads">salads</option>
                  <option value="specialty">specialty</option>
                </select>
              </div> 
           
            <button class="btn btn-primary btn-block">
              Save
            </button>
          </form>
    </div>
</div>
